@model EventEase.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOfEvent" class="control-label"></label>
                <input asp-for="StartOfEvent" class="form-control" />
                <span asp-validation-for="StartOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfEvent" class="control-label"></label>
                <input asp-for="EndOfEvent" class="form-control" />
                <span asp-validation-for="EndOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeats" class="control-label"></label>
                <input asp-for="TotalSeats" class="form-control" />
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueID" class="control-label"></label>
                <select asp-for="VenueID" class ="form-control" asp-items="ViewBag.VenueID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
